*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

.diffRecipes{
    margin: 160px 0px;
    .diff-top{
        display: flex;
        align-items: center;
        gap:153px;
        margin-bottom: 80px;
    }
    .diff-title{
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 58px;
        letter-spacing: -0.04em;
        color: #000000;
    }
    .diff-sub-title{
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: rgba(0, 0, 0, 0.6);
    }
    .diff-bottom{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 40px;
    }
    .diff-main{
        max-width: 290px;
    }
    .diff-main .img{
        position: relative;
    }
.likes{
    color: #DBE2E5;
}

.red{color: #FF6363;}
.circleicon{
    position: absolute;
    top: 16px;
    right: 16px;
    width: 48px;
    height: 48px;
    background: white;
    border-radius: 100%;
}
.hearticon{
    position: absolute;
    top: 31px;
    right: 31px;

}

    .card-heading{
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 26px;
        letter-spacing: -0.04em;
        color: #000000;
        margin: 16px 0px 24px 0px;
    }
    .none{
        padding: 0;
        background: none;
        border-radius: 0;
        gap:10px;
    }
    .space{
        gap: 24px;
    }
    
}

// rwd

@media only screen and (max-width:1279px) {
    .row{
        .diff-top{
            gap: 25px;
            flex-wrap: wrap;
            justify-content: center;
            padding: 10px;
        }
        .diff-bottom{
            justify-content: center;
            padding: 10px;
        }
        .diff-title{
            text-align: center;
        }
        .diff-sub-title{
            text-align: center;
            max-width: 800px;
        }
    }
   
}
@media only screen and (max-width:992px) {
    .diffRecipes{
        margin: 50px 0px;
        .diff-top{
            margin-bottom: 20px;
        }
    }
}
@media only screen and (max-width:768px) {
    .row{
        .diff-title{
            font-size: 30px;
            line-height: 42px;
        }
        .diff-sub-title{
            font-size: 14px;
            line-height: 24px;
        }
    }
}
